table {
    border : 1px solid;
    height : 60px;
    width  : 60%;
    border-collapse: collapse;
    margin :0 auto;
}

tr, td, th {
    border : 1px solid;
    height : 5px;
}

#Headertb {
    background-color: chartreuse;
    font-weight: bold;
}

#Struktur_Tabel{
    text-align: center;
    font-size: 14;
    font-family: 'Times New Roman', Times, serif;
}

#Judul{
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

#odd{
    background-color: plum;
}

#even{
    background-color: yellow;
}

#nilai{
    text-align: right;  
}

#satuan{
    text-align: left;
}

